@import "../../../../sass/bootstrap/variables";
@import "../../../../sass/bootstrap/mixins";

// Variables
//

$badge-font-size: 75% !default;
$badge-font-weight: $font-weight-bold !default;
$badge-padding-y: 0.25em !default;
$badge-padding-x: 0.4em !default;
$badge-border-radius: $border-radius !default;
$badge-transition: $btn-transition !default;
$badge-focus-width: $input-btn-focus-width !default;
$badge-pill-padding-x: 0.6em !default;
$badge-pill-border-radius: 10rem !default;
$badge-padding-large-y: 0.5em !default;
$badge-padding-large-x: 0.9em !default;
$badge-padding-extra-large-y: 1em !default;
$badge-padding-extra-large-x: 1.6em !default;

// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);

  @at-root a#{&} {
    @include hover-focus() {
      text-decoration: none;
    }
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Large padding
.badge-size-large {
  padding: $badge-padding-large-y $badge-padding-large-x;
}

// Extra Large padding
.badge-size-extra-large {
  padding: $badge-padding-extra-large-y $badge-padding-extra-large-x;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color,
$value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

@each $color,
$value in $colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}
