.circlebar-area {
  display: block;
  margin: 10px auto;

  .circlebar-bg {
    stroke-width: var(--stroke-circle-bg);
    fill: none;
    stroke: var(--stroke-circle-color);
  }

  .circle {
    stroke-width: var(--stroke-circle);
    animation: circle-animation var(--animation-time, 1.5s) ease-out forwards;
    stroke-linecap: round;
    stroke: var(--circle-color);
    fill: none;
  }

  .text {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 0.5em;
    fill: var(--text-color);
  }

}

@keyframes circle-animation {
  0% {
    stroke-dasharray: 0 100;
  }
}
