@import "mixins";

.tippy-box[data-theme~="tippy-theme"] {
  background: var(--tippy-t-color, var(--dark));
  color: var(--tippy-t-color-text, var(--white));
  @include fz-box-shadow(-1px 3px 15px -2px rgba(0, 0, 0, 0.26));
}

.tippy-box[data-theme~="tippy-theme"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--tippy-t-arrow-color, var(--dark));
}

.tippy-box[data-theme~="tippy-theme"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: var(--tippy-t-arrow-color, var(--dark));
}

.tippy-box[data-theme~="tippy-theme"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: var(--tippy-t-arrow-color, var(--dark));
}

.tippy-box[data-theme~="tippy-theme"][data-placement^="right"] > .tippy-arrow::before {
  border-right-color: var(--tippy-t-arrow-color, var(--dark));
}
