.animated-infinite {
  animation: infinite;
}

.animated-duration-3s {
  animation-duration: 3s !important;
}

.animated-duration-5s {
  animation-duration: 5s !important;
}

.animated-delay-0_5s {
  animation-delay: 0.5s !important;
}

.animated-delay-1s {
  animation-delay: 1s !important;
}

.animated-delay-1_5s {
  animation-delay: 1.5s !important;
}

.animated-delay-2s {
  animation-delay: 2s !important;
}

.animated-delay-2_5s {
  animation-delay: 2.5s !important;
}

.animated-delay-3s {
  animation-delay: 3s !important;
}

.animated-delay-3_5s {
  animation-delay: 3.5s !important;
}

.animated-delay-4s {
  animation-delay: 4s !important;
}

.animated-delay-5s {
  animation-delay: 5s !important;
}

.animated-delay-6s {
  animation-delay: 6s !important;
}
