//Image utilities
//

.img-crop {
  object-fit: cover;
  object-position: 0;
}

.img-circle {
  border-radius: 50%;

  &.img-circle-border {
    border: 1px solid $white;
  }

  &.img-circle-active {
    border: 2px solid var(--color-img-active, var(--primary));
  }
}

.img-border {
  border: 1px solid $white;
}

.img-active {
  border: 2px solid var(--color-img-active, var(--primary));
}

.img-shadow {
  -webkit-box-shadow: -1px 7px 15px -2px rgba($black, 0.18);
  -moz-box-shadow: -1px 7px 15px -2px rgba($black, 0.18);
  box-shadow: -1px 7px 15px -2px rgba($black, 0.18);
}

//Modal
//

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

//Others
//

.cursor-pointer {
  cursor: pointer;
}
