@import "../../../../../sass/bootstrap/variables";
@import "src/sass/mixins";

.counter {
  position: relative;

  .balloon {
    position: absolute;
    text-align: center;
    font-size: 50%;
    font-weight: 500;
    overflow: hidden;
    @include fz-box-shadow(-1px 7px 15px -2px rgba($black, 0.18));
  }

  .style-balloon {
    padding: .1rem;
    width: 22px;
    height: 17px;
    right: -14px;
    border-radius: 40%;
  }

  .style-dot {
    width: 8px;
    height: 8px;
    right: -8px;
    border-radius: 50%;
  }
}

@mixin header-theme($color, $value) {
  .counter {
    .#{$color} {
      background: darken($value, 5);
      color: color-yiq($value);
    }
  }
}

@each $color,
$value in $theme-colors {
  @include header-theme($color, $value);
}

@each $color,
$value in $colors {
  @include header-theme($color, $value);
}
