@import "../../../../../sass/bootstrap/variables";
@import "src/sass/mixins";

.accordion-item-area {
  margin-bottom: 1px;
}

.accordion-item {
  &.light-text {
    color: $white !important;

    .icon-colapse {
      color: rgba($white, 0.8);
    }

    &.disabled {
      color: rgba($white, 0.5) !important;
    }
  }

  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $gray-800;
  border-bottom: 1px solid rgba($black, 0.050);

  .icon-colapse {
    color: $gray-600;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none;
    color: $gray-800;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    color: $gray-500;
  }

  &.margin-top0 {
    margin-top: 0px;

  }

  &.margin-bottom0 {
    margin-bottom: 1px;
  }
}

.accordion-item-shadow {
  @include fz-box-shadow(0px 4px 9px -3px rgba($black, 0.12));
}

.accordion-item-padding {
  padding: 1rem;
}

.accordion-content {
  &.light-text {
    color: $white !important;
  }

  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

.accordion-transition {
  transition: .5s ease-in;
}
