@import "../../../../../../sass/bootstrap/variables";

//
//
//

.card-weather {
  color: $white;

  .card-weather-city {
    font-size: 30px;
    font-weight: 300;
  }

  .card-weather-desc {
    color: rgba($white, 0.5);
  }

  .card-weather-g {
    font-size: 45px;
    font-weight: 400;
  }

  .card-weather-icon {
    font-size: 80px;
    color: rgba($white, 0.9);
  }
}

//
//
//

.dash-cont-border-top {
  border-top: 1px solid $gray-300;
}

.dash-cont-border-top-dark {
  border-top: 1px solid $gray-700;
}

.dash-card-1 {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 1rem;

  .dash-card-1-img {
    display: flex;
  }

  .dash-card-1-txt {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;

    .dest1 {
      font-weight: 500;
      font-size: 26px;
    }

    .dest2 {
      font-size: 14px;
      color: $gray-100;
    }
  }
}

//
//
//Card general

.dash-card-gen-body {
  height: calc(450px - 100px);
}

.dash-header-card {
  display: flex;
  align-items: center;
  height: 50px;
  padding: .7rem 1rem;

  .dash-header-icon {
    color: $gray-800;
    margin-right: .9rem;
  }

  .dash-header-title {
    font-weight: 500;
    font-size: 15px;
    color: $gray-700;
  }

  &.dash-header-border-b {
    border-bottom: 1px solid $gray-200;
  }
}


.dash-header-actions {
  color: $gray-500;
  font-size: 15px;
}

.dash-footer-card {
  display: flex;
  height: 50px;
  padding: .7rem;

  &.dash-footer-border-t {
    border-top: 1px solid $gray-200;
  }

  a {
    color: $gray-700;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

//dark mode
.dash-card-gen-dark {

  &.dash-links {

    .btn {
      border: 1px solid $gray-800;
    }
  }

  .dash-header-actions {
    color: $gray-200;
  }

  .dash-header-card {

    .dash-header-icon {
      color: $gray-100;
    }

    .dash-header-title {
      color: $gray-200;
    }

    &.dash-header-border-b {
      border-bottom: 1px solid $gray-700;
    }
  }

  .dash-footer-card {

    &.dash-footer-border-t {
      border-top: 1px solid $gray-700;
    }

    a {
      color: $gray-100;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
