@import "../../../../sass/bootstrap/variables";
@import "src/sass/mixins";

.img-user {
  position: relative;
  overflow: hidden;
}

.user-state {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  border-radius: 50%;
  @include fz-box-shadow(-1px 7px 15px -2px rgba($black, 0.18));

  &.available {
    background: $teal;
  }

  &.absent {
    background: $yellow;
  }

  &.occupied {
    background: $red;
  }

  &.offline {
    background: $gray-500;
  }
}
