@import "../../../../sass/bootstrap/variables";
@import "../../../../sass/bootstrap/mixins";

// Variables
//

$pagination-padding-y: 0.5rem !default;
$pagination-padding-x: 0.75rem !default;
$pagination-padding-y-sm: 0.25rem !default;
$pagination-padding-x-sm: 0.5rem !default;
$pagination-padding-y-lg: 0.75rem !default;
$pagination-padding-x-lg: 1.5rem !default;
$pagination-line-height: 1.25 !default;
$pagination-color: $link-color !default;
$pagination-bg: $white !default;
$pagination-border-width: $border-width !default;
$pagination-border-color: $gray-300 !default;
$pagination-focus-box-shadow: $input-btn-focus-box-shadow !default;
$pagination-focus-outline: 0 !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $gray-200 !default;
$pagination-hover-border-color: $gray-300 !default;
$pagination-active-bg: $component-active-bg !default;
$pagination-active-border-color: $pagination-active-bg !default;
$pagination-disabled-color: $gray-600 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $gray-300 !default;

.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
  margin-bottom: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;

  &:hover {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

.page-circle .page-link {
  border-radius: 50% !important;
  margin-right: 5px;
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-left-radius($border-radius);
    }
  }

  &:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg,
          $pagination-padding-x-lg,
          $font-size-lg,
          $line-height-lg,
          $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm,
          $pagination-padding-x-sm,
          $font-size-sm,
          $line-height-sm,
          $border-radius-sm);
}

//
// Color pagination
//

@mixin theme-pagination($color) {
  .page-link {
    color: $color;
  }

  .active .page-link {
    background: $color;
    color: color-yiq($color);
    border-color: $color;
  }
}

@each $color,
$value in $theme-colors {
  .pagination-color-#{$color} {
    @include theme-pagination($value);
  }
}

@each $color,
$value in $colors {
  .pagination-color-#{$color} {
    @include theme-pagination($value);
  }
}

//
// Dark mode
//

.pagination-dark {
  .page-link {
    color: $white !important;
    background-color: rgba(darken($navbar-dark-base, 5), 0.2);
    border: 1px solid rgba(darken($navbar-dark-base, 5), 0.1);

    a {
      color: $white !important;
    }
  }

  .page-item {
    &.disabled .page-link {
      background-color: rgba(darken($navbar-dark-base, 5), 0.2) !important;
      border: 1px solid rgba(darken($navbar-dark-base, 5), 0.1);
      color: rgba($white, 0.3) !important;
    }

  }
}
