@import "../../../../sass/bootstrap/variables";
@import "../../../../sass/bootstrap/mixins";

// Variables
//

$breadcrumb-font-size: null !default;
$breadcrumb-padding-y: 0.75rem !default;
$breadcrumb-padding-x: 1rem !default;
$breadcrumb-item-padding: 0.5rem !default;
$breadcrumb-margin-bottom: 1rem !default;
$breadcrumb-bg: $gray-200 !default;
$breadcrumb-divider-color: $gray-400 !default;
$breadcrumb-active-color: $gray-700 !default;
$breadcrumb-divider: quote("▸") !default;
$breadcrumb-border-radius: $border-radius !default;

.breadcrumb {
  display: flex;
  overflow-x: auto;
  white-space: pre;
  color: $gray-600;

  strong {
    font-weight: 500;
    color: $breadcrumb-active-color;
  }

  a {
    color: $gray-600;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  @include font-size($breadcrumb-font-size);
  list-style: none;
  @include border-radius($breadcrumb-border-radius);

  &.breadcrumb-background {
    background-color: $breadcrumb-bg;
  }

  &.breadcrumb-padding {
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  }
}

fz-breadcrumb-item {

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + fz-breadcrumb-item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
      content: escape-svg($breadcrumb-divider);
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + fz-breadcrumb-item:hover::before {
    text-decoration: underline;
  }

  // stylelint-disable-next-line no-duplicate-selectors
  + fz-breadcrumb-item:hover::before {
    text-decoration: none;
  }

  .active {
    color: $breadcrumb-active-color;
    font-weight: 500;
  }
}

//
// Dark theme
//

.breadcrumb-dark {
  &.breadcrumb {
    background-color: $gray-800 !important;
    color: rgba($white, 0.6) !important;

    strong {
      color: $white !important;
    }

    a {
      color: rgba($white, 0.6) !important;

      &:hover {
        color: rgba($white, 0.4) !important;
      }
    }
  }

  .active {
    color: $white !important;
  }
}
