@import "../../../sass/bootstrap/variables";

.main-footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 1rem;
  background: $white;

  a {
    color: $gray-800;

    &:hover {
      color: $primary;
    }
  }

  &.dark {
    background: rgba(darken($navbar-dark-base, 5), 0.92);
    color: $main-color-light;

    a {
      color: $white;
    }
  }
}
