@import "../../../../sass/bootstrap/variables";

@media (max-width: 600px) {

  .scrollbar,
  .scrollbar-hide {
    overflow: auto;
  }
}

@media (min-width: 600px) {
  .scrollbar-hide {
    overflow: hidden;
  }

  .scrollbar {
    overflow: auto;

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-500;
    }
  }

  .scrollbar-dark {
    &::-webkit-scrollbar-thumb {
      background-color: $gray-700;
    }
  }
}
